# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db